# Clojure
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.clj-kondo/
.lsp/
.calva/

# FSharp
**/bin
**/obj
**/*.o
**/*.so
**/*.db
.DS_Store
.fake
.idea
.vs

# Java
.metadata
bin/
tmp/
build/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
RemoteSystemsTempFiles/
BitResources
*.class